li {
  list-style-type: none;
  border: 1px solid gray;
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin: 0.5rem;
}
ul > :first-child {
  border: 0px;
}
ul {
  padding-left: 0;
}

input {
  padding: 0.5rem;
}

.todo_list {
  padding: 0.5rem;
  background-color: purple;
  color: white;
  font-size: 1.5rem;
}

.flex_between {
  display: flex;
  justify-content: space-between;
}

.input_btn {
  border-radius: 0.3rem;
  background-color: rgb(50, 126, 176);
  padding: 0.5rem 2rem;
  font-weight: 900;
}

.input_task {
  border-radius: 0.3rem;
}

#favorite_false {
  color: black;
}

#favorite_true {
  color: red;
}
